.logo {
  height: 70px;
}

.nav {
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

.home-vid {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.home-vid iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.stories {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  height: 100%;
  transition: 350ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stories:hover .overlay {
  width: 100%;
  color: #fff;
  background-color: #ffa600be;
}

.btn {
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  background-color: #024d1fc9;
  border: transparent solid 2px;
  border-radius: 3px;
  color: #fff;
  transition: 100ms all ease-in-out;
  line-height: 3rem;
  text-transform: capitalize;
}

.btn:hover {
  background-color: #fff;
  border: #024d1fc9 solid 2px;
  color: #024d1fc9;
}

.function-list li {
  cursor: pointer;
  padding: 10px;
  list-style: none inside;
  background: #dddddd;
  transition: 300ms ease-in-out;
  color: #444444;
}

.function-list li:nth-child(odd) {
  background: #dddddd57;
}

.function-list li:hover {
  background: #024d1f36;
  border-left: 15px #024d1f solid;
}

.social-media {
  display: flex;
  gap: 15px;
}

@media (min-width: 900px) {
  .nav {
    padding: 0 25px;
    justify-content: space-between;
  }

  .navigation {
    gap: 75px;
  }

  .stories {
    flex-direction: column;
  }

  .stories img {
    display: block;
    width: 100%;
    height: auto;
  }

  .btn {
    grid-column: 9 / 13;
  }
}

@media (max-width: 900px) {
  .nav {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
  }

  .navigation {
    flex-direction: column;
    gap: 15px;
  }

  .stories {
    width: 65%;
    height: auto;
    justify-self: center;
  }

  .stories img {
    display: block;
    width: 100%;
  }

  form.row {
    gap: 10px;
  }

  .in {
    margin-bottom: 20px;
  }

  .footer p {
    text-align: center;
  }
}
