*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
  padding: 10px;
  height: 500px;
  background: url("https://picsum.photos/id/152/1920/1920") rgba(0, 0, 0, 0.25)
    center;
  background-blend-mode: multiply;
}

.container {
  margin: 0 auto 25px auto;
  max-width: 1200px;
  padding: 0 25px;
}

.row.list,
.row.contact {
  padding: 0 50px;
  row-gap: 25px;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: #024d1f21;
  padding: 25px;
  gap: 25px;
  height: 600px;
}

@media (min-width: 900px) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 45px;
    column-gap: 25px;
  }

  .col-12 {
    grid-column: span 12;
  }

  .col-11 {
    grid-column: span 11;
  }

  .col-10 {
    grid-column: span 10;
  }

  .col-9 {
    grid-column: span 9;
  }

  .col-8 {
    grid-column: span 8;
  }

  .col-7 {
    grid-column: span 7;
  }

  .col-6 {
    grid-column: span 6;
  }

  .col-5 {
    grid-column: span 5;
  }

  .col-4 {
    grid-column: span 4;
  }

  .col-3 {
    grid-column: span 3;
  }

  .col-2 {
    grid-column: span 2;
  }

  .col-1 {
    grid-column: span 1;
  }
}

@media (max-width: 900px) {
  .row {
    display: grid;
    flex-direction: column;
    gap: 25px;
  }
}

aside {
  min-width: 275px;
  justify-self: center;
  margin: 0 0 20px 0;
}

footer {
  padding: 15px;
  background-image: linear-gradient(
      45deg,
      rgba(194, 194, 194, 0.1) 0%,
      rgba(194, 194, 194, 0.1) 42%,
      rgba(230, 230, 230, 0.1) 42%,
      rgba(230, 230, 230, 0.1) 61%,
      rgba(55, 55, 55, 0.1) 61%,
      rgba(55, 55, 55, 0.1) 97%,
      rgba(221, 221, 221, 0.1) 97%,
      rgba(221, 221, 221, 0.1) 100%
    ),
    linear-gradient(
      45deg,
      rgba(70, 70, 70, 0.03) 0%,
      rgba(70, 70, 70, 0.03) 33%,
      rgba(230, 230, 230, 0.03) 33%,
      rgba(230, 230, 230, 0.03) 45%,
      rgba(64, 64, 64, 0.03) 45%,
      rgba(64, 64, 64, 0.03) 46%,
      rgba(167, 167, 167, 0.03) 46%,
      rgba(167, 167, 167, 0.03) 48%,
      rgba(106, 106, 106, 0.03) 48%,
      rgba(106, 106, 106, 0.03) 74%,
      rgba(21, 21, 21, 0.03) 74%,
      rgba(21, 21, 21, 0.03) 94%,
      rgba(186, 186, 186, 0.03) 94%,
      rgba(186, 186, 186, 0.03) 96%,
      rgba(12, 12, 12, 0.03) 96%,
      rgba(12, 12, 12, 0.03) 100%
    ),
    linear-gradient(
      135deg,
      rgba(31, 31, 31, 0.08) 0%,
      rgba(31, 31, 31, 0.08) 22%,
      rgba(201, 201, 201, 0.08) 22%,
      rgba(201, 201, 201, 0.08) 33%,
      rgba(93, 93, 93, 0.08) 33%,
      rgba(93, 93, 93, 0.08) 53%,
      rgba(240, 240, 240, 0.08) 53%,
      rgba(240, 240, 240, 0.08) 71%,
      rgba(136, 136, 136, 0.08) 71%,
      rgba(136, 136, 136, 0.08) 79%,
      rgba(5, 5, 5, 0.08) 79%,
      rgba(5, 5, 5, 0.08) 100%
    ),
    linear-gradient(
      0deg,
      rgba(237, 237, 237, 0.04) 0%,
      rgba(237, 237, 237, 0.04) 9%,
      rgba(210, 210, 210, 0.04) 9%,
      rgba(210, 210, 210, 0.04) 49%,
      rgba(125, 125, 125, 0.04) 49%,
      rgba(125, 125, 125, 0.04) 76%,
      rgba(165, 165, 165, 0.04) 76%,
      rgba(165, 165, 165, 0.04) 78%,
      rgba(149, 149, 149, 0.04) 78%,
      rgba(149, 149, 149, 0.04) 81%,
      rgba(241, 241, 241, 0.04) 81%,
      rgba(241, 241, 241, 0.04) 85%,
      rgba(45, 45, 45, 0.04) 85%,
      rgba(45, 45, 45, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(59, 107, 44), rgb(6, 83, 28));
}
