.navigation a {
  text-decoration: none;
  color: #024d1f;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: all 400ms ease-in-out;
}

.navigation a:hover {
  color: #ffa600;
  border-bottom: #ffa600 solid 2px;
}

.navigation a:hover {
  color: #ffa600;
  border-bottom: #ffa600 solid 2px;
}

.top-section {
  color: #ffffff;
  font-family: "DM Serif Display", serif;
}

.quote {
  font-family: Roboto, sans-serif;
  font-style: italic;
  color: #110442;
}

.quote::before,
.quote::after {
  content: '"';
  font-family: "DM Serif Display", serif;
}

.credit {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  color: #024d1f;
  align-self: center;
  justify-self: center;
}

.main-text {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #024d1f;
}

.main-text strong {
  display: block;
  background-color: #024d1f21;
  padding: 10px 13px;
  margin: 0 0 10px 0;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  color: #110442;
  text-transform: capitalize;
}

.overlay {
  color: transparent;
  font-family: Roboto, sans-serif;
  padding: 10px;
  padding-bottom: 0;
  font-size: 1.5rem;
  text-align: center;
}

.overlay p {
  font-size: 0.9rem;
}

label {
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  color: #024d1f;
}

label::first-letter{
  text-transform: capitalize;
}

label:after {
  content: " * ";
  color: red;
}

.in,
.contact textarea {
  background-color: #ffa6001c;
  border: transparent 2px solid;
  border-radius: 3px;
  padding: 7px;
  font-family: Roboto;
  line-height: 1.5rem;
}

.in:hover {
  background-color: #fff;
  border: #ffa600 2px solid;
}

.address {
  color: #110442;
  font-size: 1.1rem;
  text-transform: capitalize;
  line-height: 1.4rem;
  font-family: "Work Sans", sans-serif;
}

.contact-info a,
.social-media{
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
  display: block;
}

.contact-info *,
.social-media *{
  color: #110442;
  text-decoration: none;
}

aside .social-media {
  line-height: 3.5rem;
}

.social-media *:hover {
  color: #ffa600;
}

i {
      width:45px;
}

.contact-info a:hover {
  color: #ffa600;
}

.footer * {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

@media (min-width: 900px) {
  .top-section h1 {
    font-size: 6vw;
  }

  .top-section p {
    font-size: 3vw;
  }

  .quote {
    font-size: 2.5rem;
    text-align: right;
    padding-bottom: 30px;
  }

  .credit {
    text-align: left;
  }
}

@media (max-width: 900px) {
  .top-section h1 {
    font-size: 2.5rem;
  }

  .top-section p {
    font-size: 1.5rem;
    padding: 0 15px;
    text-align: center;
  }

  .quote {
    font-size: 2rem;
    text-align: center;
  }

  .credit {
    text-align: right;
    padding: 0 0 50px 0;
  }
}
